@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
}

html, body {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

main {
    height: 100svh;
    position: relative;
}
.content-wrapper {
    height: 100svh !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper::before,
.content-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(2px) brightness(50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 2s ease-in-out;
    z-index: -1;
}

.content-wrapper::before {
    background-image: url('../images/beside-earist.jpg');
    animation: fadeInOut 20s infinite;
}

.content-wrapper::after {
    background-image: url('../images/outside-earist.jpg');
    animation: fadeInOutAlt 20s infinite;
}


@keyframes fadeInOut {
    0%, 35% {
        opacity: 1;
    }
    40%, 90% {
        opacity: 0; 
    }
    95%, 100% {
        opacity: 1; 
    }
}

@keyframes fadeInOutAlt {
    0%, 30% {
        opacity: 0; 
    }
    35%, 95% {
        opacity: 1; 
    }
    100% {
        opacity: 0;
    }
}
.content-wrapper .col-xl-12 {
    position: relative;
    z-index: 2; /* Place content above the overlay */
    color: #fff;
    text-align: center;
}
.header {
    position: fixed;
    width: 100%;
    height: 55px;
    background: transparent;
    padding: .4rem 1rem;
    z-index: 999;
}
.nav-header {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.875rem;
    justify-content: space-between;
}
.logo {
    flex-shrink: 0;
    width: 45px;
    height: 45px;
}
.logo-home {
    display: flex;
    align-items: center;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo-home a p {
    color: #f8f9ff;
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
}
.logo-home a:hover {
    text-decoration: none !important;
}
.nav-side {
    display: flex;
    align-items: center;
    gap: 2.125rem;
}
.row {
    margin: auto;
}
.flex {
    display: flex;
}
.nav-search {
    flex-shrink: 1;
}
.search-bar {
    width: 100%;
    padding: .225rem 1.25rem;
    border-radius: 2.5rem;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}
.nav-login > .login-btn, .nav-signup > .signup-btn {
    padding: .545rem 1.765rem;
    color: #f8f9ff;
    background-color: #a33333;
    border-radius: .575rem;
    border: none !important;
    font-size: 12px;
    font-family: 'Poppins';
    transition: background-color 0.2s ease-in-out;
}
.nav-login a:hover{
    text-decoration: none;
}
.nav-login >.login-btn:hover, .nav-signup >.signup-btn:hover, .nav-login >.login-btn:active, .nav-signup >.signup-btn:active {
    background-color: #ca4949;
}
.nav-login >.login-btn:focus, .nav-signup >.signup-btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.intro {
    padding: 2.225rem 5.375rem; 
}
.intro h2 {
    font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
    line-height: 60px;
    font-size: 28px;
    color: #f8f9ff;
}
.intro p {
    font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
    line-height: 28px;
    font-size: 20px;
    color: #f8f9ff;
    word-spacing: .225rem;
}
.search-description {
    color: #f8f9ff;
}
.sign-up-container, .log-in-container {
    background-color: #f8f9ff;
    padding: 2.225rem 5.375rem; 
    border-radius: 1.125rem;
    margin: auto ;
}
.form-container {
    display: flex;
    flex-direction: column;
}
.form-container h4 {
    line-height: 60px;
    font-size: 22px;
}
.form-input {
    margin-bottom: 1.125rem;
}
.form-input label, .form-input span{
    display: block;
    margin-bottom:.25rem;
    color: #666;
}
.form-input span {
    font-size: 11px;
}
.form-input input {
    width: 100%;
    border-radius: .575rem;
    padding: .945rem 2.265rem;
    border: #cccccc solid 1px;
}
.login-btn {
    padding: .945rem 2.265rem;
    color: #f8f9ff;
    background-color: #a33333;
    border-radius: 1.575rem;
    border: none;
    font-size: 14px;
    font-family: 'Poppins';
    transition: background-color 0.2s ease-in-out;
}
.search-btn {
    padding: .900rem .765rem;
    color: #f8f9ff;
    background-color: transparent;
    border-radius: .575rem;
    border: none;
    font-size: 14px;
    font-family: 'Poppins';
    transition: background-color 0.2s ease-in-out;
}
.login-btn:hover, .signup-btn:active, .login-btn:active {
    background-color: #ca4949;
}
.search-btn:focus, .login-btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.login-link, .signup-link {
    color: #000;
}
.login-link:hover, .signup-link:hover {
    text-decoration: underline;
    color: #333;
}

@media (min-width: 320px) and (max-width: 359px) {
    .content-wrapper > .col-sm-12 {
        padding: .5rem;
    }
}

ul {
    list-style-type: none !important;
    padding: 0;
    margin: 0 !important;
}
.user-avatar {
    padding: .575rem 1.125rem;
    color: #373757;
    background-color: #fff;
    border-radius: 5rem;
    cursor: pointer;
}
.user-avatar:hover, .user-avatar:focus {
    color: #24243a;
    background-color: #e0e0e0;
}
.dropdown-profile {
    display: none;
}

.dropdown-profile.show {
    display: block;
}
.dropdown-menu li {
    padding: 0 10px;
    font-size: 14px;
}
.dropdown-content-heading {
    padding: 10px 15px;
  }
  .dropdown-content-heading span {
    font-size: 13px;
    font-family: 'Poppins',  'Segoe UI','Roboto', sans-serif;
    color: #373757;
  }
  .dropdown-content-heading i {
    position: relative;
    top: 5px;
    opacity: 1!important;
    color: #5873fe;
  }
  .dropdown-content-body li {
    padding: 15px;
    border-top: 1px solid #eef5f9;
  }
  .dropdown-content-body li.active,
  .dropdown-content-body li:focus,
  .dropdown-content-body li:hover {
    background: #eef5f9;
    border-top: 1px solid #eef5f9;
  }
  .dropdown-content-body li a.active,
  .dropdown-content-body li a:focus,
  .dropdown-content-body li a:hover {
    color: #868e96;
  }
  .dropdown-content-body li:last-child {
    padding: 5px 15px;
  }
  .dropdown-profile {
    top: 2rem !important;
    width: 200px;
  }
  .dropdown-profile .trial-day {
    font-size: 11px;
    padding-top: 2px;
    color: #5873fe;
  }
  .dropdown-profile li {
    padding: 7px 15px;
  }
  .dropdown-profile li a {
    display: block;
    color: #373757;
  }
  .dropdown-profile li a.active,
  .dropdown-profile li a:focus,
  .dropdown-profile li a:hover {
    color: #373757;
  }
  .dropdown-profile li a span {
    font-family: 'Poppins',  'Segoe UI','Roboto', sans-serif;
    font-size: 14px;
  }
  .dropdown-profile li a i {
    margin-right: 5px;
    font-size: 14px;
  }
  .dropdown-profile li:last-child {
    padding: 7px 15px;
  }

  
@media (max-width: 575px) {
    .nav-header {
        padding: 0;
    } 
    .intro h2 {
        line-height: 24px;
        font-size: 16px;
        margin-bottom: 4.275rem;
    }
    .intro p {
        line-height: 16px;
        font-size: 12px;
        word-spacing: .025rem;
    }
    .search-description {
        font-size: 11px;
        margin-bottom: .5rem;
    }
    .search-btn {
        font-size: 12px;
        padding: .650rem .650rem;
    }
    #searchInput {
        padding: .675rem 1rem;
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    .content-wrapper::before,
    .content-wrapper::after {
        background-position: 75% center; /* Slightly adjusted for medium screens */
    }
    .content-wrapper {
        padding-block: 7.5rem;
        height: auto !important;
    }
}

@media (max-width: 575px) {
    .content-wrapper::before,
    .content-wrapper::after {
        background-position: 85% center; /* More adjusted for mobile screens */
    }
}