@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
}

html, body {
    max-width: 100%;
    margin: 0;
    padding: 0;
}
main {
    height: 100svh;
    position: relative;
    padding-top: 55px;
}
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #a33333;
}
.header {
    position: fixed;
    width: 100%;
    height: 55px;
    background: #f8f9ff;
    padding: .4rem 1rem;
    z-index: 999;
}
.nav-header {
    display: flex;
    align-items: center;
    padding: 0 1.875rem;
    justify-content:space-between;
}
.logo {
    width: 45px;
    height: 45px;
}

.logo-home {
    display: flex;
    align-items: center;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo-home a p {    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 0 .475rem;
    color: #696969;
}
.logo-home a:hover {
    text-decoration: none !important;
}
.nav-side {
    display: flex;
    align-items: center;
    gap: 2.125rem;
}
.row {
    margin: auto;
}
.flex {
    display: flex;
}
.search-bar {
    display: flex;
    width: auto;
    max-width: 100%; 
    align-items: center;
    position: relative;
    height: 40px;
  }
.search-bar input {
    flex: 1;
    width: auto;
    min-width: 0;
    padding: .545rem 2.5rem .545rem .675rem;

}
.search-bar .search-btn {
    width: 40px;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    border: none;
}
.nav-login > .login-btn, .nav-signup > .signup-btn {
    padding: .545rem 1.765rem;
    color: #f8f9ff;
    background-color: #e05656;
    border-radius: .575rem;
    border: none !important;
    font-size: 12px;
    font-family: 'Poppins';
    transition: background-color 0.2s ease-in-out;
}
.nav-login >.login-btn:hover, .nav-signup >.signup-btn:hover, .nav-login >.login-btn:active, .nav-signup >.signup-btn:active {
    text-decoration: none;
    background-color: #ca4949;
}
.nav-login >.login-btn:focus, .nav-signup >.signup-btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.intro {
    padding: 2.225rem 5.375rem; 
}
.intro h2 {
    font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
    line-height: 60px;
    font-size: 28px;
    color: #f8f9ff;
}
.intro p {
    font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
    line-height: 28px;
    font-size: 20px;
    color: #f8f9ff;
    word-spacing: .225rem;
}
.sign-up-container, .log-in-container {
    background-color: #f8f9ff;
    padding: 2.225rem 5.375rem; 
    border-radius: 1.125rem;
    margin: auto ;
}
.form-container {
    display: flex;
    flex-direction: column;
}
.form-container h4 {
    line-height: 60px;
    font-size: 22px;
}
.form-input {
    margin-bottom: 1.125rem;
}
.form-input label, .form-input span{
    display: block;
    margin-bottom:.25rem;
    color: #666;
}
.form-input span {
    font-size: 11px;
}
.form-input:focus-within input:invalid, .form-input:focus-within select:invalid {
    border-color: #e05656;
    background-image: url('../images/close.png');
}
.form-input input:valid {
    background-image: url('../images/checked.png');
}
.form-input input:valid, .form-input input:invalid {
    background-size: 12.5px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
}
.form-input select:valid, .form-input select:invalid {
    background-size: 12.5px;
    background-repeat: no-repeat;
    background-position: calc(100% - 20px);
}
.form-input input:invalid span {
    color: #e05656;
}
.form-input input, .form-input select {
    width: 100%;
    border-radius: .575rem;
    padding: .625rem 2rem .625rem .625rem;
    border: #cccccc solid 1px;
}
.sign-up-btn, .login-btn {
    padding: .945rem 2.265rem;
    color: #f8f9ff;
    background-color: #e05656;
    border-radius: 1.575rem;
    border: none;
    font-size: 14px;
    font-family: 'Poppins';
    transition: background-color 0.2s ease-in-out;
}
.sign-up-btn:hover, .login-btn:hover, .sign-up-btn:active, .login-btn:active {
    text-decoration: none;
    background-color: #ca4949;
}
.sign-up-btn:disabled, .login-btn:disabled {
    color: #666;
    background-color: #cccccc;
}
.sign-up-btn:focus, .login-btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.login-link, .signup-link {
    color: #000;
}
.login-link:hover, .signup-link:hover {
    text-decoration: underline;
    color: #333;
}
.no-wrap {
    text-wrap: nowrap;
}
@media (max-width: 552px) {
    .intro {
        padding: .725rem 1.125rem;
    }
    .log-in-container, .sign-up-container {
        padding-inline: 1.625rem;
    }
    .login-content, .sign-up-content {
        padding: 0 !important;
        margin: 0;
    }
    .search-bar {
        margin: 0 !important;
    }
    .search-bar input {
        max-width: 200px !important;
        font-size: 12px;
    }
    .nav-header {
        padding: 0;
    } 
    .no-account {
        margin-left: .5rem !important;
    }
    .nav-login > .login-btn, .nav-signup > .signup-btn {
        padding: .545rem 1.165rem;
    }
}
@media (max-width: 767px) {
    .content-wrapper {
        height: auto;
        padding-block: 1.125rem;
    }
    .intro h2 {
        font-size: 20px;
        text-align: center;
    }
    .intro p {
        font-size: 14px;
        text-align: center;
    }
    .sign-up-container, .log-in-container {
        padding-block: 1.125rem;
    }
    .form-container h4 {
        font-size: 18px;
        line-height: 44px;
        text-align: center;
    }
    .form-input {
        margin-bottom: .575rem;
    }
    .form-input input, .form-input select{
        font-size: 12px;
    }
    .form-input label, .log-in-container p {
        font-size: 11px;
    }
    .form-input button[type="submit"], .no-account, .forgot-password-btn {
        font-size: 11px !important;
    }
    .nav-side {
        gap: .625rem
    }
}